table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;

  font-size: 0.8em;

  margin-bottom: calc(56px + 4.5em);

  th, td {
    button {
      background-color: var(--lbg-primary);
      outline: none;
      cursor: pointer;
      border-radius: 0.3rem;
      width: 3em;
      height: 3em;
      padding: 0;
      border-width: 2px;
      border-style: solid;

      &:hover {
        font-weight: bold;
      }
    }

    &:nth-child(3) {
      width: 2em;

      button {
        border-color: #c09817;
      }
    }

    &:nth-child(4) {
      width: 2em;

      button {
        border-color: #c01717;
      }
    }
  }

  th {
    letter-spacing: 0.2em;
    padding: 1em;
  }

  td {
    letter-spacing: 0.1em;
    padding: 0;
  }

  tbody td {
    text-align: center;
  }

  thead {
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }

  tbody tr {
    &:hover {
      background-color: var(--lbg-secondary);
    }
  }
}

.form-holder {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000077;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 30vw;
  }
}

.add-punishment {
  position: fixed;
  bottom: 3em;
  right: 3em;
}
