<div class="app-root">

  <mat-toolbar class="top-bar" color="primary">
    <a class="title" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <h1>V<span>43</span></h1>
    </a>

    <nav>
      <ul>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
        <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <li *ngIf="false"><a routerLink="/gaby" routerLinkActive="active">Gaby</a></li>
      </ul>
    </nav>
  </mat-toolbar>

  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>
