.app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@keyframes logo-animation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-155px);
  }
}

.top-bar {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  filter: drop-shadow(0px 5px 10px #00000055);

  a.title {
    padding-top: 0.4rem;
    margin: 1rem 0 0 1rem;

    svg {
      width: auto;
      height: 2.5rem;
      margin-top: -0.6em;

      #SVGID_1_ {
        animation: logo-animation 2s linear 1s 1 forwards;
      }
    }
  }

  a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline var(--color-primary);
    }

    &.active {
      color: grey;
    }
  }

  nav {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      list-style-type: none;
      padding: 0;

      li {
        margin-right: 3rem;
      }
    }
  }
}

#content {
  //margin-top: 3.6rem;
  flex-grow: 1;
}

@media only screen and (min-width: 750px) {

}
