.app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-bar {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  filter: drop-shadow(0px 5px 10px #00000055);

  a.title {
    padding-top: 0.4rem;
    margin: 1rem 0 0 1rem;

    h1 {
      font-family: '3D let', sans-serif;
      font-size: 5rem;
      display: inline-block;
      min-width: min-content;
      height: min-content;
      font-variant-caps: small-caps;
      color: white;

      span {
        position: relative;
        font-family: 'Neon Machine', sans-serif;
        font-size: 2rem;
        bottom: 0.5rem;
      }
    }
  }

  a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline var(--color-primary);
    }

    &.active {
      color: grey;
    }
  }

  nav {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      list-style-type: none;
      padding: 0;

      li {
        margin-right: 3rem;
      }
    }
  }
}

#content {
  margin-top: 3.6rem;
  flex-grow: 1;
}

@media only screen and (min-width: 750px) {

}
