<div class="container">

  <div class="text-left">
    <h1>Hi, I'm Marcelo</h1>

    <h2>I'm a software developer and engineering student</h2>

    <div class="social">
      <a href="https://www.linkedin.com/in/marcelo-vogt/" class="fa fa-linkedin"></a>
      <a href="tel:+5548984448544" class="fa fa-phone"></a>
      <a href="mailto:marcelovogt43@gmail.com" class="fa fa-envelope"></a>
    </div>
  </div>

  <div class="image-right">
    <img src="/assets/images/robot-v43.png" alt="Robot waving">
  </div>

</div>
