.container {
  width: 100%;
  height: calc(100% - 3.6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form {
    width: fit-content;
    height: fit-content;
    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 1rem;
      img {
        margin-right: 1rem;
        height: 1.6rem;
      }

      &:hover {
        background-color: #e2e2e2;
      }
    }
  }
}
