<div class="grid-container">
  <div class="item" style="background: #c01717;">
    <h1>About me</h1>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias atque consequatur consequuntur debitis harum impedit in inventore, obcaecati quam rem sed veritatis voluptates? Adipisci amet aut dicta earum sed!</span><span>Blanditiis eaque nihil odio optio ratione? A aspernatur delectus esse minima pariatur ratione rerum similique voluptate? Alias beatae consequuntur dolore fuga nisi quibusdam reiciendis. Dicta enim minus unde velit? Corporis.</span>
    </p>
  </div>
  <div class="item" style="background: #1fcf6d;"></div>
  <div class="item" style="background: #007bb5;">
    <h2>Personal Details</h2>

    <table>
      <tbody>
      <tr>
        <td>Birthday</td>
        <td>14/07</td>
      </tr>
      <tr>
        <td>Nationality</td>
        <td><a href="https://goo.gl/maps/kNWbtUSqSWEvSAhj6">Brazil</a></td>
      </tr>
      <tr>
        <td>Phone Number</td>
        <td><a href="tel:+5548984448544">+55 (48) 98444-8544</a></td>
      </tr>
      <tr>
        <td>E-mail</td>
        <td><a href="mailto:marcelovogt43@gmail.com">marcelovogt43@gmail.com</a></td>
      </tr>
      <tr>
        <td>Website</td>
        <td><a href="https://www.v43.app">v43.app</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="item" style="background: #c09817;">
    <h2>I like</h2>
    <div class="flex-container">
      <div class="item">Games</div>
      <div class="item">Travel</div>
      <div class="item">Logic</div>
      <div class="item">Robotics</div>
      <div class="item">Programming</div>
      <div class="item">Cooking</div>
      <div class="item">Music</div>
      <div class="item">Chocolate</div>
    </div>
  </div>
</div>
