/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: '3D let';
  src: url("fonts/3dlet.ttf");
}

@font-face {
  font-family: 'Neon Machine';
  src: url("fonts/Neon machine.ttf");
}

:root {
  --background-color: #242424;
  --text-color: white;
  --color-primary: #2211ff;

  font-family: 'Poppins', sans-serif;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: #151e23;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-primary);
  }
}

a {
  color: var(--link-normal);
  &:visited {
    color: var(--link-visited);
  }
}

button.m-button {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  border: 1px solid var(--text-primary);
  border-radius: .3rem;
  padding: 1em 2em;
  cursor: pointer;

  &:hover {
    background-color: #e2e2e2;
  }

  &:active {
    border-color: black;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

